AgendaBot.json
{
  "name": "AgendaBot_Proyect",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1456,
        1152
      ],
      "id": "da78c033-f6a2-417b-a74f-5718ca665093",
      "name": "Telegram Trigger",
      "webhookId": "74cf93a4-f585-4a96-8b85-3e2b629bd66e",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba05a33e-a730-4cda-8587-501daa43a93c",
              "name": "user_id",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "220d840d-630a-484b-b72a-92347e85ed91",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "09bccc81-4d72-42c8-8941-22f714b73d2c",
              "name": "first_name",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "69c557bf-27c6-48ec-b13f-4c726ffe2183",
              "name": "username",
              "value": "={{ $json.message.from.username }}",
              "type": "string"
            },
            {
              "id": "c10cfa8b-3e19-49cf-a818-bb0130f6ae6e",
              "name": "language_code",
              "value": "={{ $json.message.from.language_code }}",
              "type": "string"
            },
            {
              "id": "77ca73e1-6046-4e73-aceb-c7347cdff0f4",
              "name": "message_text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "d673ddbb-8e20-4505-bb10-aecd13a1036f",
              "name": "message_id",
              "value": "={{ $json.message.message_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        1168
      ],
      "id": "730b5cd2-62c5-4c45-9f78-1ce966af4812",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "84c8d71a-cb74-4732-9c5e-40712ac2aa57"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nuevo_usuario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ee863c03-de6c-4bba-9fe0-39f5245d34f6",
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "menu_principal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu_principal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "535ddc3e-fac3-4980-ac41-4af7af072481",
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "menu_agenda",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu_agenda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e6c896e9-2195-4785-8c88-85885a6eb153",
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "agendar_paso1_fecha",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_fecha"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "818f3086-f5ff-401e-933a-9b2c0d8dafc5",
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "agendar_paso2_hora",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_hora"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fa853bce-cc46-4cdb-b71d-957307cd7bb7",
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "agendar_paso3_nombre",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_nombre"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7995faaa-4c7a-4a99-8519-eb5269387897",
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "agendar_paso4_motivo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_motivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b3507465-5961-4df1-8050-afa6e63d78db",
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "agendar_paso5_canal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_canal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f422ae8e-a5df-4f6c-9bf2-b2f735c060fe",
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "agendar_paso6_confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_confirmar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aa384253-f35d-42a1-a182-d7724dc4e594",
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "menu_tareas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu_tareas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b6008649-6369-4d70-a14c-de90cd2e59fd",
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "menu_habitos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu_habitos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8c08d200-ccfe-4f2e-a479-a863f031984b",
                    "leftValue": "={{ $json.pantalla_actual }}",
                    "rightValue": "menu_listas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu_listas"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2352,
        1040
      ],
      "id": "dae23769-33b9-4e60-9779-e140ac4fa52d",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=Hola, soy AgendaBot 游녦\n\nEstoy aqu칤 para ayudarte a organizar tus citas, tareas y recordatorios  \nde forma sencilla y sin complicaciones.\n\nPuedes escribirme en cualquier momento.\n\nPara avanzar, solo tienes que escribir el n칰mero de la opci칩n que quieras usar.\n\nMen칰 principal:\n0. Ayuda\n1. Agenda (citas)\n2. Tareas\n3. Recordatorios\n4. H치bitos\n5. Listas\n6. Reportes\n7. Configuraci칩n\n8. Administrador\n\nTip r치pido: escribe solo el n칰mero (por ejemplo: 1) y presiona enviar.\n\nSi no sabes por d칩nde empezar, te recomiendo la opci칩n 1 游땔\n\n쯈u칠 n칰mero eliges?",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4208,
        96
      ],
      "id": "1846db28-f71f-4f67-8994-a1befdd3cce2",
      "name": "Telegram - Mensaje Bienvenida",
      "webhookId": "9f242aa9-64a1-4018-b54b-9785ded2508b",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Edit Fields').item.json.user_id }}",
            "pantalla_actual": "menu_principal",
            "paso_actual": "\"0\"",
            "datos_parciales": "\"{}\"",
            "timestamp_ultima_interaccion": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp_ultima_interaccion",
              "displayName": "timestamp_ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3920,
        96
      ],
      "id": "e1669275-b9ad-412d-b846-faffc7922333",
      "name": "Google Sheets - Crear Sesion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos del usuario desde el nodo anterior\nconst userId = $input.item.json.user_id;\nconst firstName = $input.item.json.first_name || \"Usuario\";\nconst username = $input.item.json.username || \"\";\n\n// Crear timestamp actual en formato compatible con Google Sheets\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\n// Preparar objeto para insertar en SESSIONS\nconst sessionData = {\n  telegram_user: String(userId),\n  pantalla_actual: \"menu_principal\",\n  paso_actual: \"0\",\n  datos_parciales: \"\",\n  timestamp_ultima_interaccion: timestamp\n};\n\n// Retornar los datos preparados\nreturn {\n  json: sessionData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        80
      ],
      "id": "6bb067ff-8e71-493a-a6e3-3e1b56881eae",
      "name": "Function - Preparar Sesion Nueva"
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos necesarios\nconst userId = $('Edit Fields').item.json.user_id;\n\n// Crear timestamp\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\n// Preparar objeto para insertar en LOGS\nconst logData = {\n  timestamp: timestamp,\n  telegram_user: String(userId),\n  pantalla: \"nuevo_usuario\",\n  opcion_elegida: \"N/A\",\n  resultado: \"sesion_creada_exitosamente\"\n};\n\nreturn {\n  json: logData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4432,
        96
      ],
      "id": "4707bbce-3384-4c38-b6a3-0d7db68bad8d",
      "name": "Function - Preparar LOG"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2130127904,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit#gid=2130127904"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "telegram_user": "={{ $('Edit Fields').item.json.user_id }}",
            "pantalla": "\"nuevo_usuario\"",
            "opcion_elegida": "\"N/A\"",
            "resultado": "\"sesion_creada_exitosamente\""
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion_elegida",
              "displayName": "opcion_elegida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4704,
        112
      ],
      "id": "843f2737-b9bc-4217-925d-358a41daf36b",
      "name": "Google Sheets - Registrar LOG",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $('Edit Fields').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        1168
      ],
      "id": "30af99a7-e174-4e0f-bf60-9a65fc8b918c",
      "name": "Obtener Sesi칩n Actual",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.message_text }}",
                    "rightValue": "\"0\"",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b1ef10af-570c-4fb2-93d7-e13d7c3b3b0c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opcion_0_ayuda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "709d9a08-f7ee-4776-8c5a-10ca1770e805",
                    "leftValue": "={{ $('Edit Fields').item.json.message_text }}",
                    "rightValue": "\"1\"",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opcion_1_agenda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "20a1ac94-51ec-4ad3-8ff7-2e1e4f57a428",
                    "leftValue": "={{ $('Edit Fields').item.json.message_text }}",
                    "rightValue": "\"2\"",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opcion_2_tareas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dd398add-93d4-4ac6-ae94-3f9f601127db",
                    "leftValue": "={{ $('Edit Fields').item.json.message_text }}",
                    "rightValue": "\"3\"",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opcion_3_recordatorios"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "23494c3b-4ab3-46ff-970e-c5b96d3acc86",
                    "leftValue": "={{ $('Edit Fields').item.json.message_text }}",
                    "rightValue": "\"4\"",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opcion_4_habitos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d9f458db-5ed1-49b4-bd5a-79c2b340b482",
                    "leftValue": "={{ $('Edit Fields').item.json.message_text }}",
                    "rightValue": "\"5\"",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opcion_5_listas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ca5b1347-7b23-42cc-837c-06421ec9d320",
                    "leftValue": "={{ $('Edit Fields').item.json.message_text }}",
                    "rightValue": "\"6\"",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opcion_6_reportes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d33c087e-3b8e-4106-9787-e57fd5403836",
                    "leftValue": "={{ $('Edit Fields').item.json.message_text }}",
                    "rightValue": "\"7\"",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opcion_7_config"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "42014d87-5bae-46f9-8ecc-d9326b12c0e9",
                    "leftValue": "={{ $('Edit Fields').item.json.message_text }}",
                    "rightValue": "\"8\"",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opcion_8_admin"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3776,
        288
      ],
      "id": "fecbf332-1457-4730-b1ac-7aa1846c7a44",
      "name": "Switch - Opciones Menu Principal"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.user_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4752,
        352
      ],
      "id": "163740c8-8129-4386-96a4-9ad1253c37f4",
      "name": "Send a text message1",
      "webhookId": "a3607b63-5077-4bf9-a85e-5b2373263465",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cdd63ca5-65bf-4aa3-a6ec-c90d822af08e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_nueva_cita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "762076f5-31ca-4130-b481-465d4cf2a029",
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "consultar_agenda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "72ec7b1a-53de-49f4-9e3b-f0ceaef5b5c3",
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reprogramar_cita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "290230ae-60e1-423d-8f0e-937706df8287",
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar_cita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3fc876a1-56f1-4706-9e76-c976b2782e58",
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completar_cita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "06dd462e-b138-4fd2-9a5c-d06fd405bf80",
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "volver_menu_principal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3856,
        768
      ],
      "id": "e6ade01f-c3a4-41a1-bcc4-814d158eb286",
      "name": "Switch - Opciones Menu Agenda"
    },
    {
      "parameters": {
        "jsCode": "const messageText = $input.item.json.message_text;\nconst userId = $('Edit Fields').item.json.user_id;\n\nconst optionMap = {\n  '1': 'agendar_paso1_fecha',\n  '2': 'consultar_agenda',\n  '3': 'reprogramar_cita',\n  '4': 'cancelar_cita',\n  '5': 'completar_cita',\n  '9': 'menu_principal'\n};\n\nconst messageMap = {\n  '1': 'Empecemos a crear tu cita.\\n\\nPaso 1 de 6\\n쮺u치l es la fecha de la cita?\\n\\nFormato: YYYY-MM-DD\\nEjemplo: 2026-02-20\\n\\n9. Cancelar',\n  \n  '2': 'Consultando tu agenda...\\n\\n(Esta funci칩n estar치 disponible pronto)\\n\\n9. Volver',\n  \n  '3': 'Reprogramar cita...\\n\\n(Esta funci칩n estar치 disponible pronto)\\n\\n9. Volver',\n  \n  '4': 'Cancelar cita...\\n\\n(Esta funci칩n estar치 disponible pronto)\\n\\n9. Volver',\n  \n  '5': 'Marcar como completada...\\n\\n(Esta funci칩n estar치 disponible pronto)\\n\\n9. Volver',\n  \n  '9': '쮼n qu칠 te puedo ayudar hoy?\\n\\nMen칰 principal:\\n0. Ayuda\\n1. Agenda (citas)\\n2. Tareas\\n3. Recordatorios\\n4. H치bitos\\n5. Listas\\n6. Reportes\\n7. Configuraci칩n\\n8. Administrador\\n\\nSugerencia: Si quieres empezar r치pido, te recomiendo la opci칩n 1 (Agenda).'\n};\n\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn {\n  json: {\n    user_id: userId,\n    telegram_user: String(userId),\n    next_screen: optionMap[messageText],\n    message: messageMap[messageText],\n    opcion_elegida: messageText,\n    timestamp: timestamp\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4256,
        768
      ],
      "id": "ac1568a0-17ed-41fe-a3e9-a5baa7251655",
      "name": "Function Unificado para menu_agenda"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d58aaf39-676c-49bc-ac4c-f045989e97e0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3888,
        1104
      ],
      "id": "7d8b71fb-720a-4e51-b032-5c30a8ef5ed0",
      "name": "Switch - Cancelar Agendamiento Fecha"
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Edit Fields').item.json.user_id;\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn {\n  json: {\n    user_id: userId,\n    telegram_user: String(userId),\n    next_screen: 'menu_agenda',\n    timestamp: timestamp\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4096,
        1008
      ],
      "id": "0eada0dd-8ed2-4021-b24d-7502a70baaff",
      "name": "Function - Preparar Cancelaci칩n"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla_actual": "={{ $json.next_screen }}",
            "paso_actual": "0",
            "datos_parciales": "\"\"",
            "timestamp_ultima_interaccion": "={{ $now.toISO() }}",
            "telegram_user": "={{ $('Edit Fields').item.json.user_id }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp_ultima_interaccion",
              "displayName": "timestamp_ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4304,
        1040
      ],
      "id": "90e408ba-ff0f-4ec4-862a-e61571c67068",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.user_id }}",
        "text": "=Agendamiento cancelado.  \n\nVolviendo al men칰 de Agenda...  \n쯈u칠 deseas hacer?  \n1. Agendar una nueva cita \n2. Consultar tu agenda \n3. Reprogramar una cita \n4. Cancelar una cita \n5. Marcar una cita como completada \n9. Volver al men칰 principal",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4512,
        960
      ],
      "id": "605dd8f6-46bc-4bc5-a2ff-c6399f576b62",
      "name": "Send a text message2",
      "webhookId": "38cc16e5-08b7-41b7-8965-c499256a54c7",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const messageText = $input.item.json.message_text;\n\n// Validar formato YYYY-MM-DD\nconst dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!dateRegex.test(messageText)) {\n  return {\n    json: {\n      valid: false,\n      error_message: 'Formato de fecha incorrecto.\\n\\nPor favor usa el formato: YYYY-MM-DD\\nEjemplo: 2026-02-20\\n\\n9. Cancelar'\n    }\n  };\n}\n\n// Validar que la fecha sea v치lida (no sea 2026-13-45, por ejemplo)\nconst inputDate = new Date(messageText + 'T00:00:00');\nif (isNaN(inputDate.getTime())) {\n  return {\n    json: {\n      valid: false,\n      error_message: 'Fecha inv치lida. Por favor verifica el mes y el d칤a.\\n\\nFormato: YYYY-MM-DD\\n\\n9. Cancelar'\n    }\n  };\n}\n\n// Validar que la fecha no est칠 en el pasado\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nif (inputDate < today) {\n  return {\n    json: {\n      valid: false,\n      error_message: 'La fecha ingresada ya pas칩. Por favor ingresa una fecha futura.\\n\\nFormato: YYYY-MM-DD\\n\\n9. Cancelar'\n    }\n  };\n}\n\n// Validar que no sea m치s de 1 a침o en el futuro\nconst oneYearFromNow = new Date(today);\noneYearFromNow.setFullYear(oneYearFromNow.getFullYear() + 1);\n\nif (inputDate > oneYearFromNow) {\n  return {\n    json: {\n      valid: false,\n      error_message: 'La fecha es demasiado lejana. Por favor elige una fecha dentro del pr칩ximo a침o.\\n\\n9. Cancelar'\n    }\n  };\n}\n\n// Si todo es v치lido\nreturn {\n  json: {\n    valid: true,\n    fecha: messageText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        1248
      ],
      "id": "f7ff37df-91dd-4af7-9b41-c56b4a9c61a8",
      "name": "Function - Validar Fecha"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a5f6e04e-4d43-4916-905d-a8522089f07c",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4288,
        1248
      ],
      "id": "cb79fd9f-4b4f-42f7-917b-89360d7b3d59",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const fecha = $input.item.json.fecha;\nconst userId = $('Edit Fields').item.json.user_id;\n\n// Obtener datos_parciales actuales\nconst datosParcialesStr = $('Get row(s) in sheet').item.json.datos_parciales || '{}';\nlet datosParcialesObj;\n\ntry {\n  datosParcialesObj = JSON.parse(datosParcialesStr);\n} catch (e) {\n  datosParcialesObj = {};\n}\n\n// Agregar la fecha\ndatosParcialesObj.fecha = fecha;\n\n// Timestamp\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn {\n  json: {\n    user_id: userId,\n    telegram_user: String(userId),\n    next_screen: 'agendar_paso2_hora',\n    datos_parciales: JSON.stringify(datosParcialesObj),\n    timestamp: timestamp\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4576,
        1152
      ],
      "id": "32246c47-9fa1-4a7f-a000-b040f15e4251",
      "name": "Function - Actualizar datos_parciales"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "paso_actual": "2",
            "datos_parciales": "={{ $json.datos_parciales }}",
            "pantalla_actual": "={{ $json.next_screen }}",
            "telegram_user": "={{ $('Edit Fields').item.json.user_id }}",
            "timestamp_ultima_interaccion": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp_ultima_interaccion",
              "displayName": "timestamp_ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4784,
        1152
      ],
      "id": "0a72bc31-432e-47b5-8739-4d2c645b276f",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.user_id }}",
        "text": "=Paso 2 de 6 \n쮸 qu칠 hora ser치 la cita?  \n\nFormato 24 horas (HH:MM) \nEjemplo: 14:30  \n\n9. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4992,
        1152
      ],
      "id": "1164f418-b092-4d71-ba26-c4085b2cccd4",
      "name": "Send a text message3",
      "webhookId": "71bee8ab-f77d-4e8a-b1b0-50884e7f8311",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.user_id }}",
        "text": "={{ $json.error_message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4688,
        1344
      ],
      "id": "b70f342e-549c-4d6c-a536-aeb7d0aefc41",
      "name": "Send a text message4",
      "webhookId": "ad0ea58f-901d-4f52-816d-98502984be0b",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a5f6e04e-4d43-4916-905d-a8522089f07c",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4256,
        1728
      ],
      "id": "5b05cdcd-eac3-4394-9cb7-7c5f147c4448",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "paso_actual": "3",
            "datos_parciales": "={{ $json.datos_parciales }}",
            "pantalla_actual": "agendar_paso3_nombre",
            "telegram_user": "={{ $('Edit Fields').item.json.user_id }}",
            "timestamp_ultima_interaccion": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp_ultima_interaccion",
              "displayName": "timestamp_ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4752,
        1632
      ],
      "id": "205d619c-774c-4f91-b100-1583a15dd1d5",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.user_id }}",
        "text": "={{ $json.error_message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4464,
        1824
      ],
      "id": "65cee117-2aaf-44f6-b0fe-83fbad3e6619",
      "name": "Send a text message6",
      "webhookId": "ad0ea58f-901d-4f52-816d-98502984be0b",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d58aaf39-676c-49bc-ac4c-f045989e97e0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3856,
        1520
      ],
      "id": "4bea34f0-55c1-44fa-805d-1035b4e75cc0",
      "name": "Switch - Cancelar Agendamiento Hora"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla_actual": "={{ $json.next_screen }}",
            "paso_actual": "0",
            "datos_parciales": "\"\"",
            "timestamp_ultima_interaccion": "={{ $now.toISO() }}",
            "telegram_user": "={{ $('Edit Fields').item.json.user_id }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp_ultima_interaccion",
              "displayName": "timestamp_ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4304,
        1440
      ],
      "id": "ca818024-6608-49e5-bc19-a6a10d30316f",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.user_id }}",
        "text": "=Agendamiento cancelado.  \n\nVolviendo al men칰 de Agenda...  \n쯈u칠 deseas hacer?  \n1. Agendar una nueva cita \n2. Consultar tu agenda \n3. Reprogramar una cita \n4. Cancelar una cita \n5. Marcar una cita como completada \n9. Volver al men칰 principal",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4512,
        1472
      ],
      "id": "905c3ffa-d829-443b-a4d1-733528f3dd6b",
      "name": "Send a text message7",
      "webhookId": "38cc16e5-08b7-41b7-8965-c499256a54c7",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Edit Fields').item.json.user_id;\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn {\n  json: {\n    user_id: userId,\n    telegram_user: String(userId),\n    next_screen: 'menu_agenda',\n    timestamp: timestamp\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4112,
        1456
      ],
      "id": "f6c779d6-5ed8-4fb7-a9a6-5766b8c06a1d",
      "name": "Function - Preparar Cancelaci칩n Hora"
    },
    {
      "parameters": {
        "jsCode": "const messageText = $input.item.json.message_text;\n\n// Validar formato HH:MM (24 horas)\nconst timeRegex = /^([0-1][0-9]|2[0-3]):[0-5][0-9]$/;\nif (!timeRegex.test(messageText)) {\n  return {\n    json: {\n      valid: false,\n      error_message: 'Formato de hora incorrecto.\\n\\nPor favor usa el formato: HH:MM (24 horas)\\nEjemplo: 14:30 o 09:00\\n\\n9. Cancelar'\n    }\n  };\n}\n\n// Validar que la hora est칠 en horario razonable (06:00 - 22:00)\nconst [hours, minutes] = messageText.split(':').map(Number);\n\nif (hours < 6 || hours > 22) {\n  return {\n    json: {\n      valid: false,\n      error_message: 'Por favor elige una hora entre 06:00 y 22:00.\\n\\n9. Cancelar'\n    }\n  };\n}\n\n// Si todo es v치lido\nreturn {\n  json: {\n    valid: true,\n    hora: messageText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4048,
        1728
      ],
      "id": "4ce8d83c-a919-409a-8406-d6bc7195418b",
      "name": "Function - Validar Hora"
    },
    {
      "parameters": {
        "jsCode": "const hora = $input.item.json.hora;\nconst userId = $('Edit Fields').item.json.user_id;\n\n// Obtener datos_parciales actuales\nconst datosParcialesStr = $('Get row(s) in sheet').item.json.datos_parciales;\nlet datosParcialesObj = JSON.parse(datosParcialesStr);\n\n// Agregar la hora\ndatosParcialesObj.hora = hora;\n\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn {\n  json: {\n    user_id: userId,\n    telegram_user: String(userId),\n    next_screen: 'agendar_paso3_nombre',\n    datos_parciales: JSON.stringify(datosParcialesObj),\n    timestamp: timestamp\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4544,
        1632
      ],
      "id": "7abe2e79-68e3-4ec6-8ebf-2782f00791d8",
      "name": "Function - Actualizar datos_parciales2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.user_id }}",
        "text": "=Paso 3 de 6\n쮸 nombre de qui칠n es la cita?\n\nEscribe el nombre completo.\n\n9. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4960,
        1632
      ],
      "id": "067e422d-dc59-4961-9560-d26d44ce9b91",
      "name": "Pedir Nombre",
      "webhookId": "71bee8ab-f77d-4e8a-b1b0-50884e7f8311",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const messageText = $('Edit Fields').item.json.message_text;\nconst userId = $('Edit Fields').item.json.user_id;\n\n// Mapeo de opciones a siguiente pantalla\nconst nextScreenMap = {\n  '0': 'menu_ayuda',\n  '1': 'menu_agenda',\n  '2': 'menu_tareas',\n  '3': 'menu_recordatorios',\n  '4': 'menu_habitos',\n  '5': 'menu_listas',\n  '6': 'menu_reportes',\n  '7': 'menu_configuracion',\n  '8': 'menu_administrador'\n};\n\n// Mapeo de opciones a mensajes\nconst messageMap = {\n  '0': `Aqu칤 tienes informaci칩n de ayuda:\n\n1. Escribe solo n칰meros para elegir opciones\n2. Usa 9 para volver al men칰 anterior\n3. Puedes cancelar en cualquier momento\n\n쮼n qu칠 m치s te puedo ayudar?\n\n9. Volver al men칰 principal`,\n\n  '1': `Perfecto, vamos con tu agenda.\n\n쯈u칠 deseas hacer?\n\n1. Agendar una nueva cita\n2. Consultar tu agenda\n3. Reprogramar una cita\n4. Cancelar una cita\n5. Marcar una cita como completada\n9. Volver al men칰 principal`,\n\n  '2': `Vamos con tus tareas.\n\n쯈u칠 deseas hacer?\n\n1. Crear nueva tarea\n2. Ver mis tareas\n3. Marcar tarea como completada\n4. Eliminar tarea\n9. Volver al men칰 principal`,\n\n  '3': `Vamos con tus recordatorios.\n\n쯈u칠 deseas hacer?\n\n1. Crear recordatorio\n2. Ver recordatorios\n3. Eliminar recordatorio\n9. Volver al men칰 principal`,\n\n  '4': `Vamos con tus h치bitos.\n\n쯈u칠 deseas hacer?\n\n1. Crear nuevo h치bito\n2. Ver mis h치bitos\n3. Registrar cumplimiento\n4. Ver estad칤sticas\n9. Volver al men칰 principal`,\n\n  '5': `Vamos con tus listas.\n\n쯈u칠 deseas hacer?\n\n1. Crear nueva lista\n2. Ver mis listas\n3. Agregar items a lista\n4. Marcar items completados\n9. Volver al men칰 principal`,\n\n  '6': `Generando tu reporte...\n\nEsta funci칩n estar치 disponible pronto.\n\n9. Volver al men칰 principal`,\n\n  '7': `Configuraci칩n:\n\n1. Cambiar zona horaria\n2. Preferencias de notificaciones\n3. Ver mi informaci칩n\n9. Volver al men칰 principal`,\n\n  '8': `Panel de Administrador:\n\n1. Ver todos los usuarios\n2. Ver estad칤sticas\n3. Exportar datos\n4. Gestionar permisos\n9. Volver al men칰 principal`\n};\n\n// Timestamp\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn {\n  json: {\n    user_id: userId,\n    telegram_user: String(userId),\n    next_screen: nextScreenMap[messageText],\n    message: messageMap[messageText],\n    opcion_elegida: messageText,\n    timestamp: timestamp,\n    pantalla_origen: 'menu_principal'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4224,
        352
      ],
      "id": "d66e2f96-3c37-49f5-9a3b-cea7e97f8e31",
      "name": "Function - Menu Principal Unificado"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "paso_actual": "0",
            "pantalla_actual": "={{ $json.next_screen }}",
            "timestamp_ultima_interaccion": "={{ $json.timestamp }}",
            "telegram_user": "={{ $('Edit Fields').item.json.user_id }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp_ultima_interaccion",
              "displayName": "timestamp_ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4528,
        352
      ],
      "id": "401c7622-77a4-4fb3-ba48-888690d23e46",
      "name": "Google Sheets - Actualizar Pantalla Menu Principal",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userId = $input.item.json.telegram_user;\nconst nextScreen = $input.item.json.next_screen;\nconst opcionElegida = $input.item.json.opcion_elegida;\nconst timestamp = $input.item.json.timestamp;\n\nreturn {\n  json: {\n    timestamp: timestamp,\n    telegram_user: userId,\n    pantalla: \"menu_principal\",\n    opcion_elegida: opcionElegida,\n    resultado: `redirigido_a_${nextScreen}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4960,
        352
      ],
      "id": "1730321e-8c00-4e50-94f3-d230fc097f9f",
      "name": "Function - Preparar LOG Menu Principal"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2130127904,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit#gid=2130127904"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion_elegida",
              "displayName": "opcion_elegida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5168,
        352
      ],
      "id": "dcde3bf8-1eec-4a69-8865-e26ea002373b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "=Ups, esa opci칩n no existe en este men칰.  \n\nPor favor escribe uno de los n칰meros que ves en pantalla.  \n\nEst치s en: Men칰 principal \nOpciones disponibles: 0 al 8",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4352,
        528
      ],
      "id": "2f15d246-a56d-41b5-8c2d-8789f438c7ae",
      "name": "Telegram - Error Opcion Invalida Menu Principal",
      "webhookId": "75c446ca-e964-4b94-afa5-d5192ee7e5b7",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4b888baf-2522-4d5b-b0b3-21a5730e705d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2768,
        1648
      ],
      "id": "5209270d-48ff-4db7-951b-c98682eb89c1",
      "name": "Switch - Cancelar Agendamiento Motivo"
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Edit Fields').item.json.user_id;\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn {\n  json: {\n    user_id: userId,\n    telegram_user: String(userId),\n    next_screen: 'menu_agenda',\n    timestamp: timestamp\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        1680
      ],
      "id": "a61f9a8e-e15f-402d-a619-f8cbf21d0bcc",
      "name": "Function - Preparar Cancelaci칩n Motivo"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "SESSIONS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r_V34zJLrvCQtdNAuYi2UJ_4Szykm7EOvg0H0t9P1uY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Edit Fields').item.json.chat_id }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp_ultima_interaccion",
              "displayName": "timestamp_ultima_interaccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3456,
        1712
      ],
      "id": "beba2ecd-d5b7-4acf-a518-c761feecd738",
      "name": "Update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.user_id }}",
        "text": "=Agendamiento cancelado.  \n\nVolviendo al men칰 de Agenda...  \n쯈u칠 deseas hacer?  \n1. Agendar una nueva cita \n2. Consultar tu agenda \n3. Reprogramar una cita\n4. Cancelar una cita \n5. Marcar una cita como completada \n9. Volver al men칰 principal",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3664,
        1712
      ],
      "id": "78f0e4e3-a3bb-48b9-bd5a-b871007f30b5",
      "name": "Send a text message",
      "webhookId": "94c38f74-f1d3-4461-8c1a-a5c9bd52d63e",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const messageText = $('Edit Fields').item.json.message_text;\nconst userId = $('Edit Fields').item.json.user_id;\n\n// Validar que no est칠 vac칤o\nif (!messageText || messageText.trim() === '') {\n  return {\n    json: {\n      valid: false,\n      user_id: userId,\n      error_message: `Por favor describe el motivo de la cita.\n\n9. Cancelar`\n    }\n  };\n}\n\n// Validar longitud m칤nima\nif (messageText.trim().length < 3) {\n  return {\n    json: {\n      valid: false,\n      user_id: userId,\n      error_message: `El motivo debe tener al menos 3 caracteres.\n\n9. Cancelar`\n    }\n  };\n}\n\n// Validar longitud m치xima\nif (messageText.trim().length > 200) {\n  return {\n    json: {\n      valid: false,\n      user_id: userId,\n      error_message: `El motivo es demasiado largo. M치ximo 200 caracteres.\n\n9. Cancelar`\n    }\n  };\n}\n\n// Si es v치lido, continuar\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\nconst datosParcialesStr = $('Obtener Sesi칩n Actual').item.json.datos_parciales;\nlet datosParcialesObj = JSON.parse(datosParcialesStr);\n\ndatosParcialesObj.motivo = messageText.trim();\n\nreturn {\n  json: {\n    valid: true,\n    user_id: userId,\n    telegram_user: String(userId),\n    next_screen: 'agendar_paso5_canal',\n    datos_parciales: JSON.stringify(datosParcialesObj),\n    timestamp: timestamp\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        1952
      ],
      "id": "cd674dd1-92d6-4175-9483-1cb0a3db0660",
      "name": "Function - Validar Motivo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ded348af-aa4c-4f95-b2f4-06b9f45071e6",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3408,
        1952
      ],
      "id": "d726e223-437d-4281-848a-0ffca1540b33",
      "name": "If2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cancelar-nombre-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4160,
        2528
      ],
      "id": "a61434f9-24db-4508-9f82-69b03529a12c",
      "name": "Switch - Cancelar Agendamiento Nombre"
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Edit Fields').item.json.user_id;\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn {\n  json: {\n    user_id: userId,\n    telegram_user: String(userId),\n    next_screen: 'menu_agenda',\n    timestamp: timestamp\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        2448
      ],
      "id": "84d0c183-3315-48ec-a71f-78c17cd4c6b2",
      "name": "Function - Preparar Cancelaci칩n Nombre"
    },
    {
      "parameters": {
        "jsCode": "const messageText = $('Edit Fields').item.json.message_text;\nconst userId = $('Edit Fields').item.json.user_id;\n\n// Validar que no est칠 vac칤o\nif (!messageText || messageText.trim() === '') {\n  return {\n    json: {\n      valid: false,\n      user_id: userId,\n      error_message: `Por favor escribe un nombre v치lido.\\n\\n9. Cancelar`\n    }\n  };\n}\n\n// Validar longitud m칤nima\nif (messageText.trim().length < 3) {\n  return {\n    json: {\n      valid: false,\n      user_id: userId,\n      error_message: `El nombre debe tener al menos 3 caracteres.\\n\\n9. Cancelar`\n    }\n  };\n}\n\n// Validar longitud m치xima\nif (messageText.trim().length > 100) {\n  return {\n    json: {\n      valid: false,\n      user_id: userId,\n      error_message: `El nombre es demasiado largo. M치ximo 100 caracteres.\\n\\n9. Cancelar`\n    }\n  };\n}\n\n// Si es v치lido, continuar\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\nconst datosParcialesStr = $('Obtener Sesi칩n Actual').item.json.datos_parciales;\nlet datosParcialesObj = JSON.parse(datosParcialesStr);\n\ndatosParcialesObj.nombre = messageText.trim();\n\nreturn {\n  json: {\n    valid: true,\n    user_id: userId,\n    telegram_user: String(userId),\n    next_screen: 'agendar_paso4_motivo',\n    datos_parciales: JSON.stringify(datosParcialesObj),\n    timestamp: timestamp\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        2608
      ],
      "id": "12a2c7bd-3b19-4034-8abb-0846f94ac41d",
      "name": "Function - Validar Nombre"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-validar-nombre-001",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4800,
        2608
      ],
      "id": "0a86fe82-2393-4ddd-a662-0c595fb56aac",
      "name": "IF - Nombre Valido"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "AgendaBot_DB",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "list",
          "cachedResultName": "SESSIONS"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5040,
        2528
      ],
      "id": "1b9937ce-8a30-4e75-bf05-8dc45da3cc10",
      "name": "Google Sheets - Actualizar Paso 4 Motivo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.user_id }}",
        "text": "=Paso 4 de 6\nCu칠ntame brevemente el motivo de la cita.\n\nEjemplo: Asesor칤a t칠cnica\n\n9. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5280,
        2528
      ],
      "id": "b6c1bae3-3d25-4e0c-96b8-8eda71fc5177",
      "name": "Telegram - Pedir Motivo",
      "webhookId": "baace9fe-5147-4726-9b85-4785ad9c572b",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.user_id }}",
        "text": "={{ $json.error_message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5040,
        2688
      ],
      "id": "e08e5089-df3d-4053-b4bd-0e39b3273527",
      "name": "Telegram - Error Nombre",
      "webhookId": "fa9e6c66-5edb-434a-8b14-425a68b7fe43",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cancelar-canal-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "canal-presencial-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "presencial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "canal-virtual-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "virtual"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "canal-llamada-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "llamada"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4160,
        2928
      ],
      "id": "55ba8173-7b8f-4784-91f4-a8d5a9a22945",
      "name": "Switch - Validar Canal"
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Edit Fields').item.json.user_id;\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn {\n  json: {\n    user_id: userId,\n    telegram_user: String(userId),\n    next_screen: 'menu_agenda',\n    timestamp: timestamp\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        2848
      ],
      "id": "1bf7e155-fd10-40ab-b04a-a84e050d806a",
      "name": "Function - Preparar Cancelaci칩n Canal"
    },
    {
      "parameters": {
        "jsCode": "const messageText = $('Edit Fields').item.json.message_text;\nconst userId = $('Edit Fields').item.json.user_id;\n\nconst canalMap = {\n  '1': 'Presencial',\n  '2': 'Virtual',\n  '3': 'Llamada'\n};\n\n// Obtener datos_parciales actuales\nconst datosParcialesStr = $('Obtener Sesi칩n Actual').item.json.datos_parciales;\nconst datosParcialesObj = JSON.parse(datosParcialesStr);\n\n// Agregar el canal\ndatosParcialesObj.canal = canalMap[messageText];\n\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\n// Construir mensaje de confirmaci칩n\nconst mensaje = `Revisa la informaci칩n de tu cita:\n\nFecha: ${datosParcialesObj.fecha}\nHora: ${datosParcialesObj.hora}\nCliente: ${datosParcialesObj.nombre}\nMotivo: ${datosParcialesObj.motivo}\nCanal: ${datosParcialesObj.canal}\n\n쯈u칠 deseas hacer?\n1. Confirmar y guardar\n2. Editar informaci칩n\n3. Cancelar`;\n\nreturn {\n  json: {\n    user_id: userId,\n    telegram_user: String(userId),\n    next_screen: 'agendar_paso6_confirmar',\n    datos_parciales: JSON.stringify(datosParcialesObj),\n    timestamp: timestamp,\n    message: mensaje\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        3008
      ],
      "id": "aee15807-3ef4-40b9-80bf-3b07856516ee",
      "name": "Function - Preparar Confirmaci칩n"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "AgendaBot_DB",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "list",
          "cachedResultName": "SESSIONS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla_actual": "={{ $json.next_screen }}",
            "paso_actual": "6",
            "datos_parciales": "={{ $json.datos_parciales }}",
            "timestamp_ultima_interaccion": "={{ $json.timestamp }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4800,
        3008
      ],
      "id": "755faaef-a0ae-4f07-88e4-562d747ff902",
      "name": "Google Sheets - Actualizar Paso 6 Confirmar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.user_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5040,
        3008
      ],
      "id": "f71929de-8fdd-4677-8d4a-4b8e9adaf946",
      "name": "Telegram - Mostrar Confirmaci칩n",
      "webhookId": "cc283097-ec88-4e21-988a-27ef3b280fa7",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.user_id }}",
        "text": "Opci칩n inv치lida. Por favor elige 1, 2 o 3.\n\n1. Presencial\n2. Virtual\n3. Llamada\n9. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4480,
        3168
      ],
      "id": "e4a9a3e8-d0c0-4e9b-a322-6e2336f7d1d2",
      "name": "Telegram - Error Canal",
      "webhookId": "9e604487-5840-49d4-b133-3b6332aee30c",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "confirmar-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirmar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "editar-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "editar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cancelar-confirmar-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4160,
        3328
      ],
      "id": "dd9a9590-cf82-43b6-849a-a69421c78240",
      "name": "Switch - Procesar Confirmaci칩n"
    },
    {
      "parameters": {
        "jsCode": "const datosParcialesStr = $('Obtener Sesi칩n Actual').item.json.datos_parciales;\nconst datosParcialesObj = JSON.parse(datosParcialesStr);\nconst userId = $('Edit Fields').item.json.user_id;\n\n// Generar ID 칰nico para la cita\nconst timestamp = Date.now();\nconst idCita = `CITA-${timestamp.toString().slice(-6)}`;\n\n// Timestamp de creaci칩n\nconst now = new Date();\nconst timestampCreacion = now.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn {\n  json: {\n    id_cita: idCita,\n    fecha: datosParcialesObj.fecha,\n    hora: datosParcialesObj.hora,\n    nombre: datosParcialesObj.nombre,\n    motivo: datosParcialesObj.motivo,\n    canal: datosParcialesObj.canal,\n    estado: 'agendada',\n    creado_por: String(userId),\n    timestamp_creacion: timestampCreacion,\n    user_id: userId,\n    telegram_user: String(userId)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        3248
      ],
      "id": "b3bc6d17-436d-4174-91ee-d57f2e9b95d2",
      "name": "Function - Preparar Datos Cita"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "AgendaBot_DB",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB"
        },
        "sheetName": {
          "__rl": true,
          "value": "CITAS",
          "mode": "list",
          "cachedResultName": "CITAS"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4800,
        3248
      ],
      "id": "1be36540-3991-41bb-8498-752526abd2c8",
      "name": "Google Sheets - Guardar Cita",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "AgendaBot_DB",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "list",
          "cachedResultName": "SESSIONS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla_actual": "menu_agenda",
            "paso_actual": "0",
            "datos_parciales": "",
            "timestamp_ultima_interaccion": "={{ $json.timestamp_creacion }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5040,
        3248
      ],
      "id": "a138b979-c3b8-4ba3-aac6-3c2458b4a797",
      "name": "Google Sheets - Resetear Sesi칩n",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.user_id }}",
        "text": "춰Listo! Tu cita qued칩 agendada correctamente.\n\nID de la cita: {{ $json.id_cita }}\n\n쯈u칠 deseas hacer ahora?\n1. Volver a Agenda\n2. Ir al men칰 principal",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5280,
        3248
      ],
      "id": "c9fe33d8-76ea-4bf8-b165-f0a2ae1cc07c",
      "name": "Telegram - 칄xito Cita Guardada",
      "webhookId": "33000105-a09c-471c-9932-490071abf355",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Edit Fields').item.json.user_id;\nconst now = new Date();\nconst timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn {\n  json: {\n    user_id: userId,\n    telegram_user: String(userId),\n    next_screen: 'agendar_paso1_fecha',\n    timestamp: timestamp\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        3408
      ],
      "id": "f624d4de-2190-4b9e-9d8d-c5d80a31aae8",
      "name": "Function - Volver a Editar"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "AgendaBot_DB",
          "mode": "list",
          "cachedResultName": "AgendaBot_DB"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "list",
          "cachedResultName": "SESSIONS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla_actual": "={{ $json.next_screen }}",
            "paso_actual": "1",
            "timestamp_ultima_interaccion": "={{ $json.timestamp }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4800,
        3408
      ],
      "id": "8db98101-4d32-45be-929d-62b138e85b51",
      "name": "Google Sheets - Volver Paso 1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TCN74QRrnqoZq4pf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.user_id }}",
        "text": "Volvamos al inicio.\n\nPaso 1 de 6\n쮺u치l es la fecha de la cita?\n\nFormato: YYYY-MM-DD\nEjemplo: 2026-02-20\n\n9. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5040,
        3408
      ],
      "id": "67c2d1f9-9349-41e8-b40a-4948bdc648ab",
      "name": "Telegram - Reiniciar Agendamiento",
      "webhookId": "dbcdd882-ee91-4222-9ede-9d00743c2bf3",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.user_id }}",
        "text": "Opci칩n inv치lida. Por favor elige 1, 2 o 3.\n\n1. Confirmar y guardar\n2. Editar informaci칩n\n3. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4480,
        3568
      ],
      "id": "93397fd8-7496-448c-b8dc-0ebccb14eb05",
      "name": "Telegram - Error Confirmaci칩n",
      "webhookId": "6e11e2f8-3ce9-43d1-a9cb-aebb5e2656e5",
      "credentials": {
        "telegramApi": {
          "id": "owVHb8fG2ichaOEK",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener el mensaje del usuario\nconst messageText = $('Edit Fields').item.json.message_text;\nconst userId = $('Edit Fields').item.json.user_id;\nconst chatId = $('Edit Fields').item.json.chat_id;\nconst firstName = $('Edit Fields').item.json.first_name || \"Usuario\";\nconst username = $('Edit Fields').item.json.username || \"\";\n\n// Intentar obtener la sesi칩n actual\nlet sessionData;\ntry {\n  sessionData = $('Obtener Sesi칩n Actual').item.json;\n} catch (error) {\n  // Si no hay sesi칩n, crear objeto vac칤o\n  sessionData = {};\n}\n\n// Determinar pantalla_actual\n// Si no hay sesi칩n o est치 vac칤a, es nuevo usuario\nconst pantallaActual = sessionData.pantalla_actual || \"\";\nconst pasoActual = sessionData.paso_actual || \"0\";\nconst datosParciales = sessionData.datos_parciales || \"\";\n\n// Preparar objeto completo para el Switch\nreturn {\n  json: {\n    // Datos del mensaje\n    message_text: messageText,\n    user_id: userId,\n    chat_id: chatId,\n    first_name: firstName,\n    username: username,\n    \n    // Datos de la sesi칩n (o vac칤os si no existe)\n    pantalla_actual: pantallaActual,\n    paso_actual: pasoActual,\n    datos_parciales: datosParciales,\n    telegram_user: String(userId)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        1184
      ],
      "id": "956913cb-4a3b-41cb-a7d2-35587edd36c8",
      "name": "Function - Preparar Datos Switch Principal"
    }
  ],
  "pinData": {
    "Append row in sheet": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Obtener Sesi칩n Actual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Function - Preparar Sesion Nueva",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch - Opciones Menu Principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch - Opciones Menu Agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch - Cancelar Agendamiento Fecha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch - Cancelar Agendamiento Hora",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch - Cancelar Agendamiento Nombre",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch - Cancelar Agendamiento Motivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch - Validar Canal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch - Procesar Confirmaci칩n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Mensaje Bienvenida": {
      "main": [
        [
          {
            "node": "Function - Preparar LOG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Crear Sesion": {
      "main": [
        [
          {
            "node": "Telegram - Mensaje Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Preparar Sesion Nueva": {
      "main": [
        [
          {
            "node": "Google Sheets - Crear Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Preparar LOG": {
      "main": [
        [
          {
            "node": "Google Sheets - Registrar LOG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Sesi칩n Actual": {
      "main": [
        [
          {
            "node": "Function - Preparar Datos Switch Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Opciones Menu Principal": {
      "main": [
        [
          {
            "node": "Function - Menu Principal Unificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Menu Principal Unificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Menu Principal Unificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Menu Principal Unificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Menu Principal Unificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Menu Principal Unificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Menu Principal Unificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Menu Principal Unificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Menu Principal Unificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Error Opcion Invalida Menu Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Opciones Menu Agenda": {
      "main": [
        [
          {
            "node": "Function Unificado para menu_agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function Unificado para menu_agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function Unificado para menu_agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function Unificado para menu_agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function Unificado para menu_agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function Unificado para menu_agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Cancelar Agendamiento Fecha": {
      "main": [
        [
          {
            "node": "Function - Preparar Cancelaci칩n",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Validar Fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Preparar Cancelaci칩n": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Validar Fecha": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Function - Actualizar datos_parciales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Actualizar datos_parciales": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Function - Actualizar datos_parciales2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Pedir Nombre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Cancelar Agendamiento Hora": {
      "main": [
        [
          {
            "node": "Function - Preparar Cancelaci칩n Hora",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Validar Hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet3": {
      "main": [
        [
          {
            "node": "Send a text message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Preparar Cancelaci칩n Hora": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Validar Hora": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Actualizar datos_parciales2": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Menu Principal Unificado": {
      "main": [
        [
          {
            "node": "Google Sheets - Actualizar Pantalla Menu Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Actualizar Pantalla Menu Principal": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Function - Preparar LOG Menu Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Preparar LOG Menu Principal": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Cancelar Agendamiento Motivo": {
      "main": [
        [
          {
            "node": "Function - Preparar Cancelaci칩n Motivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Validar Motivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Preparar Cancelaci칩n Motivo": {
      "main": [
        [
          {
            "node": "Update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet4": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Validar Motivo": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Cancelar Agendamiento Nombre": {
      "main": [
        [
          {
            "node": "Function - Preparar Cancelaci칩n Nombre",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Validar Nombre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Preparar Cancelaci칩n Nombre": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Validar Nombre": {
      "main": [
        [
          {
            "node": "IF - Nombre Valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Nombre Valido": {
      "main": [
        [
          {
            "node": "Google Sheets - Actualizar Paso 4 Motivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Error Nombre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Actualizar Paso 4 Motivo": {
      "main": [
        [
          {
            "node": "Telegram - Pedir Motivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Validar Canal": {
      "main": [
        [
          {
            "node": "Function - Preparar Cancelaci칩n Canal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Preparar Confirmaci칩n",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Preparar Confirmaci칩n",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Preparar Confirmaci칩n",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Error Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Preparar Cancelaci칩n Canal": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Preparar Confirmaci칩n": {
      "main": [
        [
          {
            "node": "Google Sheets - Actualizar Paso 6 Confirmar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Actualizar Paso 6 Confirmar": {
      "main": [
        [
          {
            "node": "Telegram - Mostrar Confirmaci칩n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Procesar Confirmaci칩n": {
      "main": [
        [
          {
            "node": "Function - Preparar Datos Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Volver a Editar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Function - Preparar Cancelaci칩n Canal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Error Confirmaci칩n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Preparar Datos Cita": {
      "main": [
        [
          {
            "node": "Google Sheets - Guardar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Guardar Cita": {
      "main": [
        [
          {
            "node": "Google Sheets - Resetear Sesi칩n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Resetear Sesi칩n": {
      "main": [
        [
          {
            "node": "Telegram - 칄xito Cita Guardada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Volver a Editar": {
      "main": [
        [
          {
            "node": "Google Sheets - Volver Paso 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Volver Paso 1": {
      "main": [
        [
          {
            "node": "Telegram - Reiniciar Agendamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Preparar Datos Switch Principal": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "820f4de3-d991-420f-bf9f-7c36f4ee3b73",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "862c28ef7edda70537b7b5f50a8cc2d96ea301afdd4a670fcd93b523e42cdff7"
  },
  "id": "DPqTF7_rgJ91qKyxO2JRm",
  "tags": []
}